@media screen and (max-width: 1023px){
  .owl-carousel .owl-item img {
    width: auto;
    //margin: auto;
  }
  .dz-default {
    display: none;
  }
  .dZUpload {
    position: relative;
  }
  .dZUpload:before {
    content: '';
    display: block;
    background: url('../images/static/dz-download.svg') no-repeat center;
    background-size: cover;
    width: 18px;
    height: 18px;
  }
}
