@media screen and (max-width: 1200px) {
  section {
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 1023px) {
  .content {
    padding-top: 70px;
  }
  h3 {
    font-weight: 700;
  }
  section {
    margin-bottom: 60px;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .content-block {
    margin-top: 70px;
  }
}
