.footer {
  margin-top: auto;
  color: #000;
  font-size: 16px;
}
.footer a {
  font-size: 16px;
}
.footer__item--copyright a {
  color: $color-accent;
}
.footer__row {
  margin-top: 95px;
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}