.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  padding: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #fff;

  &.is-hidden {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  &.is-scrolled {
    .h__row {
      padding-top: 0;
    }
    .h__logo-wrapper {
      order: 1;
      flex: 0 0 100px;
      max-width: 100px;
    }
    .h__nav-wrapper {
      order: 2;
      flex: 1 1 auto;
    }
    .h__mail-wrapper {
      order: 3;
    }
    .h__phone-wrapper {
      order: 4;
      margin-left: 10px;
    }
    .h__mail-mobile, .h__phone-mobile {
      display: block;
    }
    .h__mail, .h__phone {
      display: none
    }
  }
}

.h__row {
  padding-top: 18px;
  color: #000;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  transition: flex 0.3s ease;
}

.h__mail {
  font-size: 16px;
  text-transform: uppercase;
  transition: order 1s;
}
.h__mail-mobile, .h__phone-mobile {
  display: none;
  width: 25px;
  height: 25px;
  background-color: $color-accent;
  color: #fff;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.h__mail-mobile:before {
  background: url(../images/static/mail.svg) no-repeat center;
}
.h__phone-mobile:before {
  background: url(../images/static/phone.svg) no-repeat center;
}
.h__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h__phone {
  float: right;
}

.h__mail:after, .h__phone:after {
  content: '';
  background-color: $color-accent;
  width: 49px;
  height: 2px;
  margin-top: 15px;
  display: block;
}

.h__phone:after {
  margin-left: auto;
}

.h__logo-wrapper, .h__mail-wrapper, .h__phone-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: opacity 640ms cubic-bezier(.645, .05, .355, 1)
}
.header.visible .h__logo-wrapper, .header.visible .h__mail-wrapper, .header.visible .h__phone-wrapper {
  opacity: 1;
  visibility: visible;
}
.h__nav-wrapper {
  flex: 0 0 100%;
  max-width: 100%;
}

.h__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 39px 0 35px;
}

.h__nav-link {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  //transition: transform 0.5s, opacity 0.4s;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.25s ease-in, opacity 0.5s, color .3s;

  &:nth-child(1) {
    transition-delay: 0.15s;
    transition-duration: 0.25s;
  }
  &:nth-child(2) {
    transition-delay: 0.2s;
    transition-duration: 0.3s;
  }
  &:nth-child(3) {
    transition-delay: 0.25s;
    transition-duration: 0.35s;
  }
  &:nth-child(4) {
    transition-delay: 0.3s;
    transition-duration: 0.4s;
  }
  &:nth-child(5) {
    transition-delay: 0.35s;
    transition-duration: 0.45s;
  }
  &:nth-child(6) {
    transition-delay: 0.40s;
    transition-duration: 0.45s;
  }
}
.h__row.is-opened .h__nav-link, .header.visible .h__nav-link {
  opacity: 1;
  transform: translateY(0);

}

.h__burger {
  display: none;
}
