.about .w-slider__scene.owl-carousel .owl-item img {
  width: auto;
}
.about .w-slider__scene.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.about .w-text {
  display: none;
}
/*
.about .w-image {
  margin-right: 60px;
  max-width: 190px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .7;
  -webkit-transition: opacity .3s, -webkit-filter .3s;
  transition: opacity .3s, -webkit-filter .3s;
  transition: filter .3s, opacity .3s;
  transition: filter .3s, opacity .3s, -webkit-filter .3s;
}
.about .w-image:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}*/
