.form__container {
  display: flex;
}
.form-blank {
  flex-grow: 2;
}
.blank__block {
  max-width: 195px;
  margin-right: 60px;
  flex-shrink: 0;
}

.blank__block img {
  display: block;
  margin-bottom: 20px;
  max-height: 400px;
  max-width: 100%;
  opacity: 0;
  transition: all 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
}
.blank__block.visible img{
  opacity: 1;
}
.blank__block a {
  padding: 12px 27px 11px 53px;
  position: relative;
  display: inline-block;
  border: 1px solid $color-accent;
  color: $color-accent;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
  &:hover {
    color: #fff;
    background-color: $color-accent;
    &:before {
      background: url(../images/static/download-white.svg) no-repeat center;
    }
  }
}
.blank__block.visible a{
  transform: translate(0, 0);
  opacity: 1;
}

.blank__block a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 53px;
  background: url(../images/static/download.svg) no-repeat center;
}