.block__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }
  &--left {
    .block__image {
      order: 2;
    }
    .block__text {
      margin-left: 0;
      margin-right: 125px;
    }
  }
}
.block__image {
  flex: 0 0 350px;
  max-width: 350px;
  opacity: 0;
  transition: opacity 640ms cubic-bezier(.645, .05, .355, 1)
}
.block__image--video {
  position: relative;
}
.block__image--video:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: url(../images/static/play.svg) no-repeat center;
  background-size: 70px 70px;
}
.block__image.visible {
  opacity: 1;
}
.block__image img {
  max-width: 100%;
  opacity: 0;
  transition: opacity 640ms cubic-bezier(.645, .05, .355, 1)
}

.block__image.visible img {
  opacity: 1;
}

.block__image.visible .block__images-wrapper img:nth-child(0) {
  transition-delay: 0s
}

.block__image.visible .block__images-wrapper img:nth-child(1) {
  transition-delay: 40ms
}

.block__image.visible .block__images-wrapper img:nth-child(2) {
  transition-delay: 80ms
}

.block__image.visible .block__images-wrapper img:nth-child(3) {
  transition-delay: 120ms
}

/*.block__image-img {
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 25px;
  @include aspect-ratio(1, 1);
}*/
.block__images-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 350px;
}
.block__images-wrapper img {
  width: 160px;
  height: 160px;
  margin: auto;
}
.block__text {
  margin-left: 125px;
  flex-grow: 2;
}
.block__text .line {

}
.block__title {
  font-size: 24px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 40px;
}
.block__desc {
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: $color-gray;
}