.bread {
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #595959;
  margin-bottom: 20px;
  background-color: $bg-color-gray;
  padding: 25px 0;
}

.bread__list {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.bread__line {
  background-color: #97C33F;
  width: 49px;
  height: 2px;
  display: block;
  margin-top: 15px;
}
.bread__l-item {
  position: relative;
  display: flex;
  align-items: center;

  &:nth-last-child(n + 2) {
    &:after {
      content: '>';
      margin-right: 0.4em;
      margin-left: 0.4em;
    }
  }
}

.bread__link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height:inherit;
  transition: color .3s;

  &:hover {
    color: $color-accent;
  }
}


.c-middle__block {}