/*--------------------- USER CONTENT STYLES: Elements ------------------------*/
.user-content-styles {
  font-size: 16px;
  line-height: 2;
  position: relative;
  width: 100%;
  margin-top: 60px;
}
.user-content-styles > *:first-child {
  margin-top: 0;
}
.user-content-styles > *:last-child {
  margin-bottom: 0;
}
.user-content-styles .container > *:not(img){
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}
.user-content-styles h2,
.user-content-styles .like-H2 {
  margin: 40px 0 35px;
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  text-transform: unset;
}
.user-content-styles h3,
.user-content-styles .like-H3 {
  margin: 30px 0 20px;
  font-size: 18px;
  font-weight: 400;
  text-transform: unset;
  line-height: 24px;
}
.user-content-styles p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 24px;
}
.user-content-styles p a:not(.btn) {
  color: #000;
  font-style: italic;
  font-size: 16px;
  line-height: 1;
  border-bottom: 1px solid rgba(151, 195, 63, 0.2);
  display: inline-block;
}
.user-content-styles p a:not(.btn):hover {
  border-bottom-color: #000;
}

.user-content-styles img {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 100%;
  height: auto;
  display: block;
}

.user-content-styles ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.user-content-styles ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 15px;
  line-height: 24px;
}
.user-content-styles ul li:last-child {
  margin-bottom: 0;
}
.user-content-styles ul li:before {
  content: "+";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  color: $color-accent;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
}
.user-content-styles ul li h3 {
  margin: 0;
}
.user-content-styles ol {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  counter-reset: this-list;
}
.user-content-styles ol li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 15px;
  line-height: 24px;
  counter-increment: this-list;
}
.user-content-styles ol li:last-child {
  margin-bottom: 0;
}
.user-content-styles ol li:before {
  content: counter(this-list);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  color: $color-accent;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
}
.user-content-styles ol li h3 {
  margin: 0;
}