.contacts {
  margin-top: 65px;
}
.contacts__title {
  color: #000;
}
.contacts__text {
  font-size: 16px;
  line-height: 24px;
  color: $color-gray;
  font-weight: 300;
}
.contacts__text span {
  font-weight: 500;
}
.contacts__top {
  margin-bottom: 85px;
}
.contacts__filter {
  margin-bottom: 30px;
}
.c-filter__title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.contacts__map {
  max-width: 1110px;
  margin: 0 auto;
  height: 580px;
  position: relative;
  background-color: #ccc;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.map a {
  display: none !important;
}