.f-item {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.f-image {
  flex: 0 0 65px;
  max-width: 65px;
  margin-right: 30px;
}
.f-content {
  flex-grow: 2;
}
.f-author {
  color: #000;
  font-size: 18px;
  margin-top: 20px;
}