.form-wrapper {
  //height: 230px;
  width: 100%;
}
.form-header {
  display: flex;
  flex-flow: row wrap;
}
.form-ok {
  display:none;
  align-items: center;
  background-color: $bg-color-gray;
}
.form-ok, .form-header {
  width: 100%;
  align-items: center;
}
.form-ok-left {
  background-color: $color-accent;
  display: flex;
  align-items: center;
  min-height: 260px;
}
.form-ok-img {
  width: 100%;
  padding: 20px 0;
}
.form-ok-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-ok-title {
  flex-shrink: 0;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.form-ok-desc {
  color: #5E5E5E;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.form {
  /*padding-bottom: 30px;*/
}
.form__content {
  width: 100%;
}
.form__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
  &--group {
    .form__input {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.form.visible .form__line,
.form.visible .form__link {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
.form__line:nth-child(1) {
  transition-delay: 40ms;
}
.form__line:nth-child(2) {
  transition-delay: 80ms;
}
.form__line:nth-child(3) {
  transition-delay: 120ms;
}
.form__line:nth-child(4) {
  transition-delay: 160ms;
}
.form__line:nth-child(5) {
  transition-delay: 200ms;
}
.form__line:nth-child(6) {
  transition-delay: 240ms;
}
.form__line:nth-child(7) {
  transition-delay: 280ms;
}
.form__line:nth-child(8) {
  transition-delay: 320ms;
}
.form__line:nth-child(9) {
  transition-delay: 360ms;
}
.form__line:nth-child(10) {
  transition-delay: 400ms;
}
.form__input {
  position: relative;
  z-index: 0;
  vertical-align: top;
  flex-grow: 2;
  display: flex;

  &.valid:after {
    content: '';
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 9px;
    background: url('../images/static/form-valid.svg') center no-repeat;
    background-size: cover;
    z-index: 1;

  }
  &.error .form__input-field {
    border-color: #FF3B31;
    outline: none;
  }
  &.valid .form__input-field {
    border-color: $color-accent;
  }
  &.valid:after {
    display: inline-block;
  }
}
.form__input-field {
  flex-grow: 2;
  padding: 10px 42px 8px 18px;
  transition: border-color .3s;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  height: 46px;
  letter-spacing: .4px;
  -webkit-appearance: none;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  outline-width: 1px;
  outline-color: $color-gray;

  &::-webkit-input-placeholder {color:$color-gray;}
  &::-moz-placeholder          {color:$color-gray}/* Firefox 19+ */
  &:-moz-placeholder           {color:$color-gray}/* Firefox 18- */
  &:-ms-input-placeholder      {color:$color-gray}
}
textarea.form__input-field {
  height: 72px;
}
.form__input.is-full .form__input-label:after,
.form__input.is-full .dz-message:after {
  background: $color-accent;
}

.form__input-label {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #000;
  text-align: left;
  cursor: text;
  display: inline-block;
  float: right;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  user-select: none;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #bababa;
    bottom: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  &--error {
    &:after {
      background: red !important;
    }
  }
}

.form__input-label-content {
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  vertical-align: bottom;
  transform-origin: 0 0;
  transform: translate3d(0, 13px, 0);
  transition: transform 0.3s;
  color: $color-gray;
}
.form__input-field:focus + .form__input-label .form__input-label-content,
.form__input.is-full .form__input-label-content {
  -webkit-transform: translate3d(0, -10px, 0) scale3d(0.8, 0.8, 1);
  transform: translate3d(0, -10px, 0) scale3d(0.8, 0.8, 1);
}
.form__textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 17px;
  font-weight: 100;
  color: #171717;
  height: 125px;
  padding: 15px 25px;
  background-color: #fff;
  //border: 1px solid #bababa;
}

.form__input-file {
  flex-grow: 1;
  flex-basis: 60px;
  max-width: 165px;
  min-width: 60px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-accent;
  border: 1px solid $color-accent;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
}

.form__bottom {
  display: flex;
  justify-content: flex-end;
}

.form__link {
  opacity: 0;
  transform: translate(0,100%);
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
  &:active, &:focus {
    transform: scale(0.95);
    transition: none ease-in-out;
  }
  &--custom {
    position: absolute;
    right: 50px;
    bottom: 37px;
    font-size: 13px;
  }
}

.form__checkbox-label {
  position: relative;
  font-size: 17px;
  font-weight: 100;
  letter-spacing: 0.015em;
  line-height: 24px;
  display: block;
  padding-left: 40px;
  cursor: pointer;
  color: #171717;
  transition: color .3s;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
  }

  &:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 8px;
    width: 0;
    height: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/static/mark.svg);
    transition: width .3s;
  }
}

.form__checkbox {
  visibility: hidden;
  position: absolute;
  z-index: -10;

  &:checked {

    & + .form__label,
    & + span + .form__label {

      &:after {
        width: 14px;
      }
    }
  }

  &.input-error {

    & + .form__label,
    & + span + .form__label {
      color: red;
    }
  }
}
.form__error {
  display: none;
  color: red;
}
