.index {

}
.index__banners {
  background-color: $bg-color-gray;
  padding: 25px 25px 20px;
  height: 400px;
}
.index__banners .container {
  height: 100%;
}
.index__blocks {
  margin-top: 120px;
}
.index__block-item {
  padding: 75px 45px 65px;
  margin-bottom: 30px;
  height: 265px;
  position: relative;
  background-color: $bg-color-gray;
  z-index: 0;
}
.index__block-item::after {
  content: '';
  position: absolute;
  z-index: -2;
  top:0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: $color-accent;
  transition: all 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
}
.index__block-item:hover:after {
  width: 66.666666%;
}
.index__block-item:hover .index__block-name,
.index__block-item:hover .index__block-link {
  color: #fff;
}
.index__block-item:hover .index__block-link svg path {
  stroke: #fff;
}
.index__block-item--big {
  height: 560px;
}
.index__block-link-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.index__block-text {
  max-width: 220px;
}
.index__block-name {
  font-weight: 400;
  margin-bottom: 35px;
  transition: all 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
}
.index__block-link {
  font-weight: 300;
  transition: all 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
}
.index__block-link svg {
  display: inline-block;
  width: 4.5px;
  line-height: 26px;
  vertical-align: middle;
  margin-left: 15px;
}
.index__block-link svg path {
  transition: stroke 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
}
.index__block-image {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: right;
  z-index: -1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.index__block-image-img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  margin-right: -20px;
}
.index__block-item--small2 .index__block-image-img {
  margin-bottom: -20px;
}

.index__special {
  margin-top: 85px;
}
.index__special .index__block-item {
  padding: 45px 65px;
}
.index__special .index__block-name {
  text-transform: none;
}
.index__special .index__block-image {
  align-items: center;
  padding: 0 30px 0 0;
  max-width: 360px;
  justify-content: flex-end;
  margin-left: auto;
}
.index__special .index__block-image-img {
  margin-right: 0;
}

//---Блок О нас

.index__about {
  margin-top: 115px;
}
.index__about-block {
  min-height: 345px;
}
.index__about-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 50px 0 50px 50px;
}
.index__about-image:before {
  content: '';
  width: 66.666667%;
  height: 100%;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: -1;
  background-color: $bg-color-gray;
}
.index__about-image-img {
  margin-right: -15px;
}
.index__about-content {

}
.index__about-description {
  margin-bottom: 35px;
  font-weight: 300;
}

.t__block-title {
  color: #000;
  margin-bottom: 8px;
}
.t__block-desc {
  font-size: 16px;
  font-weight: 300;
}

//---Форма
.index__form {
  margin-top: 120px;
  height: 300px;
  display: flex;
  align-items: center;
  background-color: $bg-color-gray;
}
.index__form-title {
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
}
.index__form-desc {
  line-height: 23px;
  font-size: 18px;
  font-weight: 300;
}