.materials {
  margin-top: 60px;
  height: 265px;
  overflow: hidden;
  background-color: $bg-color-gray;
}
.materials__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 45px 50px 45px 45px;
}
.materials__left {
  flex: 0 0 355px;
  max-width: 355px;
  margin-right: 20px;
}
.materials__right {
  flex-grow: 1;
}
.materials__title {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 18px;
}
.materials__text {
  margin-bottom: 25px;
}
.materials__link {
  font-size: 18px;
  line-height: 28px;
  color: #97C33F;
}
.materials__link img {
  float: left;
  margin-right: 15px;
}
.materials__image {
  max-width: 540px;
  display: block;
  margin-left: auto;
}