.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.not-found__head {
  font-size: 40px;
}
.not-found__text {
  font-size: 18px;
}
.not-found__nav {
  margin-top: 30px;
}
