.p-slider {
  width: 100%;
}
.p-slider .owl-stage {
  display: flex;
  align-items: center;

}
//.p-slider__scene {
//  height: calc(100% - 32px);
//}
//.p-slider__scene .owl-stage-outer {
//  height: 100%;
//}
//.p-slider__scene .owl-item {
//  height: 100%;
//}
.p-slider__slide {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: flex-end;
}
.p-slider__image {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.p-slider__image-img {
  width: auto !important;
  /*height: 100%;*/
  max-height: 100%;
  flex-basis: 0;
}
.p-slider__right {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  max-width: 540px;
  flex-shrink: 0;
}
.p-slider__text-wrapper {
  margin: auto;
}
.p-slider__text {
  line-height: 48px;
  font-size: 36px;
  color: #000;
  margin-bottom: 20px;
  max-width: 100%;
}
.p-slider__text-inner {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.p-slider__text-inner .accent {
  color: $color-accent;
}
.p-slider__prices {
  display: flex;
}
.p-slider__price-wrapper {
  margin-right: 65px;
}
.p-slider__price-wrapper:last-child {
  margin-right: 0;
}
.p-slider__p-name {
  font-size: 20px;
  line-height: 27px;
}
.p-slider__p-old {
  font-size: 16px;
  line-height: 21px;
  color: #6E6E6E;
  white-space: nowrap;
}
.p-slider__p-old-sum {
  position: relative;
  margin-right: 20px;
}
.p-slider__p-old-sum:before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #C33F3F;
  transform: rotate(166deg);
  height: 1.5px;
}
.p-slider__p-price {
  font-size: 22px;
  line-height: 29px;
}
.p-slider__p-discount {
  height: 22px;
  font-size: 16px;
  line-height: 23px;
  color: #fff;
  background-color: $color-accent;
  position: relative;
  display: inline-block;
  padding-right: 5px;
}
.p-slider__p-discount::before {
  content: '';
  position: absolute;
  left: -22px;
  top: 0;
  border: 11px solid transparent;
  border-right: 11px solid $color-accent;
}
.p-slider__controls {
  text-align: center;
  margin-top: 30px;
}
.p-slider__controls-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-slider__controls-inner .owl-dot {
  width: 30px;
  height: 2px;
  position: relative;
  margin-right: 10px;
  background-color: #E2E2E2;
  outline: none;
  cursor: pointer;
  vertical-align: top;
}
.p-slider__controls-inner .owl-dot.active:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: $color-accent;
  animation: 5s linear dotfill;
}

@keyframes dotfill {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}