.person__container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.person__left {
  flex: 0 0 347px;
  width: 100%;
  max-width: 347px;
  margin-right: 125px;
}
.person__image-img {
  height: auto;
}
.person__right {
  display: flex;
}
.person__right--main {
  align-items: center;
}

.person__name {
  font-size: 24px;
  line-height: 32px;
  color: #000;
  margin-bottom: 12px;
  max-width: 255px;
}
.person__position {
  color: $color-gray;
  font-size: 18px;
  margin-bottom: 40px;
}
.person__edu {
  margin-top: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.person__edu.visible {
  opacity: 1;
  visibility: visible;
}
