.popup {
  position: fixed;
  z-index: 40;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s;
  background-color: rgba(0,0,0,0.5);
  display: none;

  @media screen and (min-width: 768px) {
    padding: 50px 0;
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    display: flex;
  }

  &--success {

    .popup__success {
      visibility: visible;
      opacity: 1;
    }
  }
}

.popup__container {
  background-color: #fff;
  width: 100%;
  max-width: 1160px;
  position: relative;
  overflow: hidden;
  margin: auto 0;
}

.popup__closer {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/static/popup-closer.svg);
  cursor: pointer;
  z-index: 2;

  &:after {
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
  }
}

.popup__container-inner {
  padding: 90px 50px;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.popup__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
}
#zapis_doctor {
  color: #000;
  font-size: 24px;
}
.popup__fields {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;

  &--small {
    max-width: 520px;
    margin: 0 auto;

    .popup__field {
      width: 48%;
    }
  }
}

.popup__field {
  position: relative;
  width: 31.3333%;
  // flex: 0 1 auto;
  margin-bottom: 27px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: center;

  &--half {
    width: 50%;
  }

  &:last-child {
    margin-right: 0;
  }

  label.error {
    position: absolute;
    z-index: 2;
    left: calc(100% - 20px);
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    color: #fff;
    background-color: #F84848;
    padding: 8px 12px;
    font-size: 13px;
    font-weight: 300;
    margin-left: 13px;

    &:before {
      content: '!';
      position: absolute;
      top: 47%;
      transform: translateY(-50%);
      color: #F84848;
      left: -20px;
      font-size: 20px;
    }

    &:after {
      content: '';
      position: absolute;
      left: -3px;
      transform: translateY(-50%) rotate(45deg);
      top: 50%;
      width: 7px;
      height: 7px;
      background-color: #F84848;
    }
  }
}

.popup__field-label {
  display: inline-block;
  position: absolute;
  left: 0;
  top: -9px;
  font-weight: 300;
  color: #A8A8A8;
  background-color: #fff;
  padding: 0 9px;
  margin-left: 10px;
  z-index: 1;
}

.popup__field-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ECF3F5;
  font-weight: 300;
  font-size: 20px;
  padding: 14px 20px;
  color: #333;
  transition: border-color .3s;
  box-shadow: 0 0 0 transparent;

  &:hover,
  &:active,
  &:focus {
    border-color: #C9DCE2;
  }
}

.popup__fields-policy {
  padding-left: 40px;
  font-weight: 300;
  color: #8D8D8D;
  line-height: 24px;
}

.popup__form-submit {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: 65px;
  width: 100%;
}

.popup__success {
  display: none;
  text-align: center;
}

.popup__success-text {
  color: #333;
  line-height: 30px;
  font-size: 20px;

  font-weight: 300;
  max-width: 400px;
  margin: 0 auto 100px auto;
}

.popup__success-timer {
  font-weight: 300;
  color: #8D8D8D;
  line-height: 24px;
}




