.prices {
  margin-top: 12px;
}
.price__item {
  border-top: 1px solid #EDEDED;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
  &:first-child {
    border: none;
  }
  &.is-active {
    .price__top:after {
      background-image: url('../images/static/minus.svg');
    }
  }
}
.price__top {
  font-size: 18px;
  position: relative;
  padding: 30px 60px 25px 0;
  cursor: pointer;
  color: $color-accent;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
}
.price__top:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/static/plus.svg');
}
.price__list {
  display: none;
  padding: 0 0 25px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 18px;
}
.price__list-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 20px;
}
.price__list-item:last-child {
  margin-bottom: 0;
}
.price__title-mobile {
  display: none;
}
.price__name {
  flex-grow: 1;
  background-color: #fff;
  position: relative;
  display: inline;
  overflow: hidden;
  margin-right: 10px;
  padding-right: 10px;
}
.price__name:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #EDEDED;
  bottom: 4px;
  margin-left: 5px;
}
#faq .price__name:after {
  content: unset;
}
.price__price {
  flex: 1 0 80px;
  max-width: 80px;
  text-align: right;
}
.price__price--discount {
  font-weight: 400;
  color: #000;
}

.price__head {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;  
  color: $color-accent;
}

.price__head-name {
  flex-grow: 1;
  background-color: #fff;
  position: relative;
  display: inline;
  overflow: hidden;
  margin-right: 10px;
  padding-right: 10px;
}
.price__head-price {
  flex: 1 0 80px;
  max-width: 80px;
  line-height: 1;
  font-weight: 500;
  text-align: right;
}
.price__head-price--discount, .price__price--discount {
  margin-left: 5px;
  flex: 1 0 110px;
  max-width: 110px;
}
@media screen and (max-width: 640px) {
  .price__list-item {
    flex-flow: row wrap;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 5px;
  }
  .price__title-mobile {
    display: inline-block;
  }
  .price__name {
    width: 100%;
    margin-bottom: 8px
  }
  .price__name:after {
    content: unset;
  }
  .price__price--real {
    margin-left: auto;
  }
  .price__price {
    /*flex-basis: auto;*/
    flex-grow: 0;
    /*max-width: none;*/
  }
}