.s-wrapper {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}
.s-title {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #000;
  &:after {
    content: '';
    background-color: #97C33F;
    width: 49px;
    height: 2px;
    margin-top: 15px;
    display: block;
  }
}
.s-navigation {
  line-height: normal;
}
.s-navigation.disabled {
  display: none;
}
.s-slider {

}

.s-arrows__arrow {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: $color-accent;
}
.s-arrows__arrow.disabled {
  color: #000;
  cursor: default;
}
.s-arrows__arrow--prev:after {
  content: '|';
  display: inline-block;
  margin: 0 5px;
}

/****Анимации появления****/
.s-content__text {
  position: relative;
  /*height: 100%;*/
  opacity: 0;
}

.s-content__text.visible {
  opacity: 1
}

.s-content__text .line__content {
  opacity: 0;
  transform: translate(0, 100%);
  transition: all 640ms cubic-bezier(.645, .05, .355, 1)
}

.s-content__text.visible .line__content {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.s-content__text .line:nth-child(0) .line__content {
  transition-delay: 0s
}

.s-content__text .line:nth-child(1) .line__content {
  transition-delay: 40ms
}

.s-content__text .line:nth-child(2) .line__content {
  transition-delay: 80ms
}

.s-content__text .line:nth-child(3) .line__content {
  transition-delay: 120ms
}

.s-content__text .line:nth-child(4) .line__content {
  transition-delay: 160ms
}

.s-content__text .line:nth-child(5) .line__content {
  transition-delay: .2s
}

.s-content__text .line:nth-child(6) .line__content {
  transition-delay: 240ms
}

.s-content__text .line:nth-child(7) .line__content {
  transition-delay: 280ms
}

.s-content__text .line:nth-child(8) .line__content {
  transition-delay: 320ms
}

.s-content__text .line:nth-child(9) .line__content {
  transition-delay: 360ms
}

.s-content__text .line:nth-child(10) .line__content {
  transition-delay: .4s
}

.s-content__text .line:nth-child(11) .line__content {
  transition-delay: 440ms
}

.s-content__text .line:nth-child(12) .line__content {
  transition-delay: 480ms
}

.s-content__text .line:nth-child(13) .line__content {
  transition-delay: 520ms
}

.s-content__text .line:nth-child(14) .line__content {
  transition-delay: 560ms
}

.s-content__text .line:nth-child(15) .line__content {
  transition-delay: .6s
}

.s-content__text .line:nth-child(16) .line__content {
  transition-delay: 640ms
}

.s-content__text .line:nth-child(17) .line__content {
  transition-delay: 680ms
}

.s-content__text .line:nth-child(18) .line__content {
  transition-delay: 720ms
}

.s-content__text .line:nth-child(19) .line__content {
  transition-delay: 760ms
}

.s-content__text .line:nth-child(20) .line__content {
  transition-delay: .8s
}

.s-content__text .line:nth-child(21) .line__content {
  transition-delay: 840ms
}

.s-content__text .line:nth-child(22) .line__content {
  transition-delay: 880ms
}

.s-content__text .line:nth-child(23) .line__content {
  transition-delay: 920ms
}

.s-content__text .line:nth-child(24) .line__content {
  transition-delay: 960ms
}

.s-content__text .line:nth-child(25) .line__content {
  transition-delay: 1s
}

.s-content__text .line:nth-child(26) .line__content {
  transition-delay: 1.04s
}

.s-content__text .line:nth-child(27) .line__content {
  transition-delay: 1.08s
}

.s-content__text .line:nth-child(28) .line__content {
  transition-delay: 1.12s
}

.s-content__text .line:nth-child(29) .line__content {
  transition-delay: 1.16s
}

.s-content__text .line:nth-child(30) .line__content {
  transition-delay: 1.2s
}

.s-content__text .line:nth-child(31) .line__content {
  transition-delay: 1.24s
}

.s-content__text .line:nth-child(32) .line__content {
  transition-delay: 1.28s
}

.s-content__text .line:nth-child(33) .line__content {
  transition-delay: 1.32s
}

.s-content__text .line:nth-child(34) .line__content {
  transition-delay: 1.36s
}

.s-content__text .line:nth-child(35) .line__content {
  transition-delay: 1.4s
}

.s-content__text .line:nth-child(36) .line__content {
  transition-delay: 1.44s
}

.s-content__text .line:nth-child(37) .line__content {
  transition-delay: 1.48s
}

.s-content__text .line:nth-child(38) .line__content {
  transition-delay: 1.52s
}

.s-content__text .line:nth-child(39) .line__content {
  transition-delay: 1.56s
}

.s-content__text .line:nth-child(40) .line__content {
  transition-delay: 1.6s
}

.s-content__text .line:nth-child(41) .line__content {
  transition-delay: 1.64s
}

.s-content__text .line:nth-child(42) .line__content {
  transition-delay: 1.68s
}

.s-content__text .line:nth-child(43) .line__content {
  transition-delay: 1.72s
}

.s-content__text .line:nth-child(44) .line__content {
  transition-delay: 1.76s
}

.s-content__text .line:nth-child(45) .line__content {
  transition-delay: 1.8s
}

.s-content__text .line:nth-child(46) .line__content {
  transition-delay: 1.84s
}

.s-content__text .line:nth-child(47) .line__content {
  transition-delay: 1.88s
}

.s-content__text .line:nth-child(48) .line__content {
  transition-delay: 1.92s
}

.s-content__text .line:nth-child(49) .line__content {
  transition-delay: 1.96s
}

.s-content__text .line:nth-child(50) .line__content {
  transition-delay: 2s
}

.s-content__text .line:nth-child(51) .line__content {
  transition-delay: 2.04s
}

.s-content__text .line:nth-child(52) .line__content {
  transition-delay: 2.08s
}

.s-content__text .line:nth-child(53) .line__content {
  transition-delay: 2.12s
}

.s-content__text .line:nth-child(54) .line__content {
  transition-delay: 2.16s
}

.s-content__text .line:nth-child(55) .line__content {
  transition-delay: 2.2s
}

.s-content__text .line:nth-child(56) .line__content {
  transition-delay: 2.24s
}

.s-content__text .line:nth-child(57) .line__content {
  transition-delay: 2.28s
}

.s-content__text .line:nth-child(58) .line__content {
  transition-delay: 2.32s
}

.s-content__text .line:nth-child(59) .line__content {
  transition-delay: 2.36s
}

.s-content__text .line:nth-child(60) .line__content {
  transition-delay: 2.4s
}

.s-content__text .line:nth-child(61) .line__content {
  transition-delay: 2.44s
}

.s-content__text .line:nth-child(62) .line__content {
  transition-delay: 2.48s
}

.s-content__text .line:nth-child(63) .line__content {
  transition-delay: 2.52s
}

.s-content__text .line:nth-child(64) .line__content {
  transition-delay: 2.56s
}

.s-content__text .line:nth-child(65) .line__content {
  transition-delay: 2.6s
}

.s-content__text .line:nth-child(66) .line__content {
  transition-delay: 2.64s
}

.s-content__text .line:nth-child(67) .line__content {
  transition-delay: 2.68s
}

.s-content__text .line:nth-child(68) .line__content {
  transition-delay: 2.72s
}

.s-content__text .line:nth-child(69) .line__content {
  transition-delay: 2.76s
}

.s-content__text .line:nth-child(70) .line__content {
  transition-delay: 2.8s
}

.s-content__text .line:nth-child(71) .line__content {
  transition-delay: 2.84s
}

.s-content__text .line:nth-child(72) .line__content {
  transition-delay: 2.88s
}

.s-content__text .line:nth-child(73) .line__content {
  transition-delay: 2.92s
}

.s-content__text .line:nth-child(74) .line__content {
  transition-delay: 2.96s
}

.s-content__text .line:nth-child(75) .line__content {
  transition-delay: 3s
}

.s-content__text .line:nth-child(76) .line__content {
  transition-delay: 3.04s
}

.s-content__text .line:nth-child(77) .line__content {
  transition-delay: 3.08s
}

.s-content__text .line:nth-child(78) .line__content {
  transition-delay: 3.12s
}

.s-content__text .line:nth-child(79) .line__content {
  transition-delay: 3.16s
}

.s-content__text .line:nth-child(80) .line__content {
  transition-delay: 3.2s
}

.s-content__text .line:nth-child(81) .line__content {
  transition-delay: 3.24s
}

.s-content__text .line:nth-child(82) .line__content {
  transition-delay: 3.28s
}

.s-content__text .line:nth-child(83) .line__content {
  transition-delay: 3.32s
}

.s-content__text .line:nth-child(84) .line__content {
  transition-delay: 3.36s
}

.s-content__text .line:nth-child(85) .line__content {
  transition-delay: 3.4s
}

.s-content__text .line:nth-child(86) .line__content {
  transition-delay: 3.44s
}

.s-content__text .line:nth-child(87) .line__content {
  transition-delay: 3.48s
}

.s-content__text .line:nth-child(88) .line__content {
  transition-delay: 3.52s
}

.s-content__text .line:nth-child(89) .line__content {
  transition-delay: 3.56s
}

.s-content__text .line:nth-child(90) .line__content {
  transition-delay: 3.6s
}

.s-content__text .line:nth-child(91) .line__content {
  transition-delay: 3.64s
}

.s-content__text .line:nth-child(92) .line__content {
  transition-delay: 3.68s
}

.s-content__text .line:nth-child(93) .line__content {
  transition-delay: 3.72s
}

.s-content__text .line:nth-child(94) .line__content {
  transition-delay: 3.76s
}

.s-content__text .line:nth-child(95) .line__content {
  transition-delay: 3.8s
}

.s-content__text .line:nth-child(96) .line__content {
  transition-delay: 3.84s
}

.s-content__text .line:nth-child(97) .line__content {
  transition-delay: 3.88s
}

.s-content__text .line:nth-child(98) .line__content {
  transition-delay: 3.92s
}

.s-content__text .line:nth-child(99) .line__content {
  transition-delay: 3.96s
}

