
.js-anchor.visible .owl-carousel,
.js-anchor.visible .owl-item,
.js-anchor.visible .s-title,
.js-anchor.visible h3,
.js-anchor.visible .s-navigation,
.js-anchor.visible .price__item {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.js-anchor .owl-carousel,
.js-anchor .owl-item,
.js-anchor .s-title,
.js-anchor h3,
.js-anchor .s-navigation,
.js-anchor .price__item {
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
}

.js-anchor.visible .p-slider {
  opacity: 1;
  visibility: visible;
}
.js-anchor .p-slider {
  opacity: 0;
  visibility: hidden;
}
.js-anchor .owl-item:nth-child(1),
.js-anchor .price__item:nth-child(1) {
  transition-delay: 40ms;
}
.js-anchor .owl-item:nth-child(2),
.js-anchor .price__item:nth-child(2) {
  transition-delay: 80ms;
}
.js-anchor .owl-item:nth-child(3),
.js-anchor .price__item:nth-child(3) {
  transition-delay: 120ms;
}
.js-anchor .owl-item:nth-child(4),
.js-anchor .price__item:nth-child(4) {
  transition-delay: 160ms;
}

.js-anchor .owl-item:nth-child(5),
.js-anchor .price__item:nth-child(5) {
  transition-delay: 200ms;
}
.js-anchor .owl-item:nth-child(6),
.js-anchor .price__item:nth-child(6) {
  transition-delay: 240ms;
}
.js-anchor .owl-item:nth-child(7),
.js-anchor .price__item:nth-child(7) {
  transition-delay: 280ms;
}
.js-anchor .owl-item:nth-child(8),
.js-anchor .price__item:nth-child(8) {
  transition-delay: 320ms;
}
.js-anchor .owl-item:nth-child(9),
.js-anchor .price__item:nth-child(9) {
  transition-delay: 360ms;
}
.js-anchor .owl-item:nth-child(10),
.js-anchor .price__item:nth-child(10) {
  transition-delay: 400ms;
}

/*
.js-anchor .contacts__map {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
}
.js-anchor.visible .contacts__map {
  height: 345px;
  opacity: 1;
  visibility: visible;
}*/
