.left__menu {
  position: relative;
}
.sidenav {
  position: relative;
  &.is-fixed {
    position: fixed;
    top: 130px;
    &.is-bottom {
      position: absolute;
      bottom: 0;
      top: auto;
    }
  }
}
.sidenav__item {
  display: block;
  position: relative;
  line-height: 26px;
  height: 26px;
  margin-bottom: 30px;
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    height: 100%;
    width: 2px;
    background-color: $color-accent;
    transition: all 640ms cubic-bezier(.645,.05,.355,1);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &--active {
    padding-left: 15px;
    &:before {
      transform: translateX(100%);
    }
  }
}

.sidenav__link {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #595959;
  display: inline-block;
  width: 100%;
}