.stomatology .p-slider {
  padding: 60px 40px 20px;
  background-color: $bg-color-gray;
}
.stomatology .p-slider__text {
  line-height: 27px;
  font-size: 20px;
}
.stomatology .p-slider__controls {
  margin-top: 35px;
}
.stomatology .p-slider__image-img {
  height: 270px;
}
.stomatology .p-slider__right {
  max-width: 345px;
}
.stomatology .contacts__map {
  height: 345px;
}
