.t-slider-wrapper {
  margin-right: -15px;
}
.t-item {
  width: 160px;
  transition: all 640ms cubic-bezier(.645,.05,.355,1);
}
.stomatology .t-slider__scene.owl-carousel .owl-stage-outer {
  padding-top: 10px;
}
.stomatology .t-item:hover {
  transform: translateY(-10px);
  .t-name { 
    color: $color-accent;
  }
}
.t-image {
  margin-bottom: 15px;
}
.t-image-img {
  max-width: 100%;
  object-fit: cover;
}
.t-name {
  color: #000;
  line-height: 23px;
  font-size: 18px;
}
.t-post {
  line-height: 21px;
  font-size: 16px;
  margin-top: 6px;
}