.w-slider-wrapper {
  margin-right: -15px;
}
.w-item {
  width: 220px;
}
.w-image {
  margin-bottom: 10px;
}
.w-image-fancy {
  display: none;
}
.w-link {
  color: $color-gray;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}
