//restyle any elements

.s-slider__scene.owl-carousel .owl-item img {
  width: auto;
}
.fancybox-bg {
  background: rgba(0, 0, 0, 0.05);
}
.fancybox-toolbar {
  right: 0;
  top: 0;
}
.fancybox-button--close {
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/static/close.svg);
  background-color: $color-accent;
  border-radius: unset;
}
.dz-message {
  font-weight: 400;
  color: $color-accent;
}
.dz-message:after {
  content: unset;
}
.jq-selectbox {
  width: 100%;
}
.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid $color-accent;
}
.jq-selectbox__select {
  height: 55px;
  padding: 15px 55px 15px 15px;
  border: 1px solid #EEEEEE;
  border-radius: 0;
  background: none;
  box-shadow: unset;
  font: 18px/23px Circe, sans-serif;
  color: #000;
  text-shadow: none;
  &:hover {
    background: none;
  }
  &:active {
    background: $bg-color-gray;
    box-shadow: unset;
  }
}
.jq-selectbox__trigger {
  width: 55px;
  border-left: none;
  position: relative;
  border-bottom: 1.5px solid #000;
  border-right: 1.5px solid #000;
  content: '';
  display: block;
  height: 14px;
  width: 14px;
  margin-top: -10px;
  pointer-events: none;
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.jq-selectbox__trigger-arrow {
  display: none;
}

.jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #EEEEEE;
  border-radius: 0;
  background: #FFF;
  box-shadow: unset;
  font: 16px/21px Circe, sans-serif;
  left: 0 !important;
  right: 0 !important;
}
.jq-selectbox li {
  color: #000;
}
.jq-selectbox li:hover {
  background-color: $color-accent;
}