//default settings
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
html {
  height: 100%;
}
body {
  font-family: 'Circe', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #6E6E6E;
  height: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  &.-loading {
    overflow: hidden
  }
  &.is-unscrolled {
    overflow: hidden;
  }
}
.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 5px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
  line-height: 23px;
  font-size: 18px;
  cursor: pointer;
  transition: color .3s;
  &:hover {
    color: $color-gray;
  }
}
img {
  max-width: 100%;
}
section {
  margin-bottom: 115px;
}
section:last-child {
  margin-bottom: 0
}
.page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}
.content {
  padding-top: 192px;
  opacity: 1;
  transition: opacity 640ms;
}
.-loading .content {
  opacity: 0;
}
@keyframes loaderAnimation {
  0% {
    width: 0
  }
  25% {
    width: 20vw
  }
  50% {
    width: 60vw
  }
  75% {
    width: 70vw
  }
  100% {
    width: 80vw
  }
}

@-webkit-keyframes loaderAnimation {
  0% {
    width: 0
  }
  25% {
    width: 20vw
  }
  50% {
    width: 60vw
  }
  75% {
    width: 70vw
  }
  100% {
    width: 80vw
  }
}

.preloader {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  transition: all 640ms
}

.-loading .preloader {
  opacity: 1;
  visibility: visible
}

.preloader__container {
  position: relative;
  font-size: 1.5em
}

.preloader__line {
  content: '';
  position: absolute;
  width: 100vw;
  height: 3px;
  background-color: $color-accent;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 640ms cubic-bezier(.645, .05, .355, 1)
}

.preloader__line.-loading {
  width: 80vw;
  -webkit-animation: loaderAnimation 6.4s 1 ease-in-out;
  animation: loaderAnimation 6.4s 1 ease-in-out
}

.container {
  padding-left: 15px;
  padding-right: 15px; 
}

.title-wrapper {
  margin-bottom: 35px;
}
.title {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #000;
}
.title:after {
  content: '';
  background-color: $color-accent;
  width: 49px;
  height: 2px;
  margin-top: 15px;
  display: block;
}
.content-block {
  margin-top: 75px;
}
[data-fancybox] {
  cursor: pointer;
}
.scroll-content {
  -webkit-transform: unset !important;
  transform: unset !important;
}
.hidden {
  display: none;
}