@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
$src: null;

$extmods: (eot: "?",
    svg: ""
);

$formats: (otf: "opentype",
    ttf: "truetype"
);

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
    // font-display: auto;
        src: $src;
    }
}

/* Миксин соотношения сторон */

@mixin aspect-ratio($width, $height) {
    position: relative;
&:before {
     display: block;
     content: "";
     width: 100%;
     padding-top: ($height / $width) * 100%;
 }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Y center
@mixin yCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* trs */

@mixin trs {
    transition: .3s ease-in-out;
}


@mixin hide {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
}


@mixin show {
    visibility: visible;
    opacity: 1;
    position: relative;
    z-index: auto;
}