.btn {
  display: inline-block;
  padding: 14px 40px;
  position: relative;
  color: #000;
  text-decoration: none;
  line-height: 1;
  font-size: 18px;
  text-align: center;
  transition: all 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
  cursor: pointer;
  z-index: 0;
  outline: none;
  -webkit-appearance: none;
  background: transparent;
}
.btn:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-color: $color-accent;
  transition: all 640ms cubic-bezier(0.645, 0.05, 0.355, 1);
}
.btn:hover, .btn:focus {
  color: #fff;
  text-decoration: none;
}
.btn:hover:after, .btn:focus:after {
  width: 100%;
}