div.bread
    div.container
        ul(itemscope itemtype="http://schema.org/BreadcrumbList").bread__list
            li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem").bread__l-item
                a(itemprop="item" href="./index.html").bread__link
                    span(itemprop="name") Главная
                    meta(itemprop="position" content="1")
            li.bread__l-item #{title}
        div.bread__line
