div.prices
    div.price__item
        div.price
            div.price__top Почему сотрудничать с нами?
            div.price__list
                div.price__list-item
                    div.price__name Потому что

    div.price__item
        div.price
            div.price__top Работаете по всей России?
            div.price__list
                div.price__list-item
                    div.price__name Естественно

    div.price__item
        div.price
            div.price__top Можно ли получать больше скидок?
            div.price__list
                div.price__list-item
                    div.price__name Конечно
