footer.footer
    div.container
        .footer__row
            .footer__item © 2019 DentLine
            .footer__item
                a(href='mailto:info@dentline.ru') info@dentline.ru
            .footer__item
                a(href='tel:+78007775412') 8 (800) 777-54-12
            .footer__item.footer__item--copyright С любовь от &nbsp;
                a(href='https://de-us.ru' target="_blank") Deus
