header.header
    div.container
        div.h__row
            div.h__mail-wrapper
                a(href="mailto:info@dentline.ru").h__mail-mobile
                a(href="mailto:info@dentline.ru").h__mail info@dentline.ru
            div.h__logo-wrapper
                a(href="index.html").h__logo
                    img(src='assets/images/content/logo.svg' alt="Dent Line Logo").h__logo-img
            div.h__phone-wrapper
                a(href="tel:+78007775412").h__phone-mobile
                a(href="tel:+78007775412").h__phone 8 (800) 777-54-12
            nav.h__nav-wrapper
                ul.h__nav
                    li.h__nav-item
                        a(href="./about.html").h__nav-link О компании
                    li.h__nav-item
                        a(href="./stomatology.html").h__nav-link Стоматология
                    li.h__nav-item
                        a(href="./frezer.html").h__nav-link Фрезерный центр
                    li.h__nav-item
                        a(href="./dental-lab.html").h__nav-link Зуботехническая лаборатория
                    li.h__nav-item
                        a(href="./contacts.html").h__nav-link Контакты
            div.h__burger
                div.h__burger-line
                div.h__burger-line
div.preloader
    div.preloader__container
        div.preloader__line.preloader-line.-loading