div.popups

	div.popup#form
		div.popup__container
			div.popup__closer
			div.popup__container-inner
				form.popup__form.js-validate
					div.popup__title.h1 Заполните форму
					div.popup__fields
						div.popup__field
							label.popup__field-label Имя
							input(type="text" name='name').popup__field-input
						div.popup__field
							label.popup__field-label Телефон
							input(type="text" name='phone').popup__field-input.phone
						div.popup__field
							label.popup__field-label Почта
							input(type="text" name='mail').popup__field-input
						div.popup__field.popup__field--half
							label.popup__field-label Комментарий
							input(type="text" name='message').popup__field-input
						div.popup__field.popup__field--half
							div.popup__fields-policy Отправляя нам данную форму, вы соглашаетесь<br> с 
								|
								a(href="#").link.link--text политикой конфиденциальности.

						div.popup__form-submit
							button(type='submit').button.button--blue Отправить

				div.popup__success
					div.popup__title.h1 Готово!
					div.popup__success-text Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.
					div.popup__success-timer Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span>

	div.popup#callback
		div.popup__container
			div.popup__closer
			div.popup__container-inner
				form.popup__form.js-validate
					div.popup__title.h1 Заказать обратный<br>звонок
					div.popup__fields.popup__fields--small
						div.popup__field
							label.popup__field-label Имя
							input(type="text" name='name').popup__field-input
						div.popup__field
							label.popup__field-label Телефон
							input(type="text" name='phone').popup__field-input.phone
						div.time
							div.time__title Удобное время
							div.time__row
								div.time__item
									div.radio
										input(type="radio" name='time-to-call').radio__input#radio_1
										label(for="radio_1").radio__label В течение 5 минут
								div.time__item
									div.radio
										input(type="radio" name='time-to-call').radio__input#radio_2
										label(for="radio_2").radio__label С 9:00 до 12:00
								div.time__item
									div.radio
										input(type="radio" name='time-to-call').radio__input#radio_3
										label(for="radio_3").radio__label С 13:00 до 19:00

					div.popup__form-submit.popup__form-submit--cnt
						button(type='submit').button.button--blue Отправить

				div.popup__success
					div.popup__title.h1 Готово!
					div.popup__success-text Ваша заявка успешно отправлена, в ближайшее время наш сотрудник свяжется с вами.
					div.popup__success-timer Это окно закроется<br>  через <span class='popup__success-timer-value'>2</span> <span class='popup__success-timer-sec'>секунд</span>