div.prices
    div.price__item
        div.price
            div.price__top Хирургия
            div.price__list
                div.price__list-item
                    div.price__name Удаление постоянного зуба с патологической подвижностью
                    div.price__line
                    div.price__price 1500 ₽
                div.price__list-item
                    div.price__name Удаление зуба I степени сложности
                    div.price__line
                    div.price__price 2000 ₽
                div.price__list-item
                    div.price__name Удаление зуба III степени сложности
                    div.price__line
                    div.price__price 4000 ₽
                div.price__list-item
                    div.price__name Удаление третьего моляра (зуба мудрости) простое
                    div.price__line
                    div.price__price 3000 ₽
                div.price__list-item
                    div.price__name Удаление ретенированного зуба I степени сложности
                    div.price__line
                    div.price__price 4000 ₽
                div.price__list-item
                    div.price__name Удаление ретенированного зуба II степени сложности
                    div.price__line
                    div.price__price 6000 ₽
                div.price__list-item
                    div.price__name Удаление ретенированного зуба III степени сложности
                    div.price__line
                    div.price__price 8000 ₽
                div.price__list-item
                    div.price__name Удаление постоянного зуба с имплантацией биоматериала
                    div.price__line
                    div.price__price 140 000 ₽
    div.price__item
        div.price
            div.price__top Консультация
            div.price__list
                div.price__list-item
                    div.price__name Удаление постоянного зуба с патологической подвижностью
                    div.price__line
                    div.price__price 1500 ₽
                div.price__list-item
                    div.price__name Удаление третьего моляра (зуба мудрости) простое
                    div.price__line
                    div.price__price 3000 ₽
                div.price__list-item
                    div.price__name Удаление третьего моляра (зуба мудрости) простое
                    div.price__line
                    div.price__price 3000 ₽
    div.price__item
        div.price
            div.price__top Несъёмное протезирование
            div.price__list
                div.price__list-item
                    div.price__name Удаление зуба I степени сложности
                    div.price__line
                    div.price__price 2000 ₽
    div.price__item
        div.price
            div.price__top Протезирование на имплантах
            div.price__list
    div.price__item
        div.price
            div.price__top Несъёмное протезирование
            div.price__list