aside.left__menu.col-3
    nav.sidenav.is-sticky
        ul.sidenav__list
            each link, index in menulinks
                - href= link.href;
                if(index === 0)
                    li.sidenav__item.sidenav__item--active
                        a(href='#' data-anchor=href).sidenav__link #{link.name}
                else
                    li.sidenav__item
                        a(href='#' data-anchor=href).sidenav__link #{link.name}