extends layout

block vars
    - var bodyClass = '-page-start'

block title
    title Страницы

block header
    include blocks/header

block content
    div.container
        ul.list-pages
            li
                a(href="index.html") Главная

block footer
    include blocks/footer


