extends layout

block vars
    - var bodyClass = '-page-home'
    - var title = 'О компании'
    -
        var menulinks = [
        {name:'О компании', href: 'about'},
        {name:'Наша команда', href: 'team'},
        {name:'Видеопрезентация', href:'present'},
        {name:'Клиенты', href:'clients'},
        {name:'FAQ',href:'faq'},
        ]

block title
    title #{title}

block header
    include blocks/header

block content
    include blocks/breadcrumb

    div.container
        div.content-block.row
            include blocks/sidebar

            div.page-content.col-12.col-md-9
                div.about
                    section#about.js-anchor
                        div.block__content
                            div.block__image.wow.zoomIn
                                img(src="assets/images/content/about_page.jpg" alt="О компании")
                            div.block__text
                                div.block__title Несомненным нашим достоинством является коммуникация по приёму, обработке и доставке заказов.
                                p.block__desc Квалифицированные администраторы согласуют удобное для вас время, а курьерская служба доставит заказ без перебоев и задержек.

                    section#team.js-anchor.t-container
                        h3 Наша команда
                        div.s-wrapper
                            div.s-title лучшие спецы
                            div.s-navigation

                        div.t-slider-wrapper
                            div.t-slider
                                div.t-slider__scene.owl-carousel
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-3.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-4.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.png" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор

                    section#present.js-anchor
                        div.block__content.block__content--left
                            div(data-fancybox data-src="https://youtu.be/iy6mZpI2HNY").block__image.block__image--video
                                img(src="assets/images/content/about_present.jpg" alt="Видео презентация" )
                            div.block__text
                                div.block__title Мы уверены, что вам понравятся условия сотрудничества, а вашим пациентам — их  протезы.
                                p.block__desc На все наши изделия мы даём гарантию и обещаем достойный результат, как с точки зрения эстетики, так и по
                                    | функциональным характеристикам. Каждая работа проходит контроль качества.

                    section#clients.js-anchor.w-container
                        h3 клиенты
                        div.s-wrapper
                            div.s-title Выбирают нас
                            div.s-navigation

                        div.w-slider-wrapper
                            div.w-slider
                                div.w-slider__scene.owl-carousel
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(
                                                src="assets/images/content/client1.png"
                                                alt=''
                                                data-fancybox
                                                data-src="assets/images/content/client1.png"
                                                ).w-image-img
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/client2.png" alt='' data-fancybox
                                                data-src="assets/images/content/client2.png").w-image-img

                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/client3.png" alt='' data-fancybox
                                                data-src="assets/images/content/client3.png").w-image-img
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/client1.png" alt='' data-fancybox
                                                data-src="assets/images/content/client5.png").w-image-img


                    section#faq.js-anchor
                        h3 часто задаваемые вопросы
                        div.s-title всё самое главное
                        include blocks/faq


block footer
    include blocks/footer





