extends layout

block vars
    - var bodyClass = '-page-contacts'
    - var title = 'Контакты'

block title
    title #{title}

block header
    include blocks/header

block content

    include blocks/breadcrumb


    div.contacts
        .container
            div.contacts__top.row
                div.col-12.col-lg-6
                    div.contacts__title Наши реквизиты
                    p.contacts__text
                        | Общество с ограниченной ответственностью «ДентЛайн»
                        br
                        | Головной офис: 115093, г. Москва, ул. Терешкова, д. 48, офис 124
                        br
                        span ИНН
                        |  7775556662
                        br
                        span КПП
                        |  888999111
                        br
                        span ОГРН
                        |  1112223334444

                div.col-12.col-lg-5.offset-lg-1
                    div.contacts__title Контактные данные
                    p.contacts__text
                        span Телефон:
                        |  8 (800) 777-54-12
                        br
                        span Электронная почта:
                        |  info@dentline.ru
                        br
                        span График работы:
                        |  Пн-Вс с 09:00 до 21:00

            div.contacts__filter.row
                .contacts__groups.col-12.col-lg-4
                    .c-filter__title Выбрать город
                    select
                        option(data-display="Москва") Москва
                        option(value="1") Some option
                        option(value="2") Another option
                        option(value="3") A disabled option
                        option(value="4") Potato
                .contacts__items.col-12.col-lg-4
                    .c-filter__title Выбрать клинику
                    select
                        option(data-display="Select") Nothing
                        option(value="1") Some option
                        option(value="2") Another option
                        option(value="3") A disabled option
                        option(value="4") Potato

            div.contacts__map
                div.map#map


block footer
    include blocks/footer


