extends layout

block vars
    - var bodyClass = '-page-dental'
    - var title = 'Зуботехническая лаборатория'

    //-var links = [{name: 'О лаборатории', href: '#about'},{name:'', href:''},{name:'', href:''},{name:'', href:''},{name:'', href:''}]

    -
        var menulinks = [
            {name: 'О лаборатории', href: 'about'},
            {name:'Специалисты', href:'specs'},
            {name:'Услуги и цены', href:'services'},
            {name:'Фото работ', href:'photo'},
            {name:'Бланк наряд заказа',href:'blank'}
        ]

block title
    title #{title}

block header
    include blocks/header




block content
    include blocks/breadcrumb

    div.container
        div.content-block.row
            include blocks/sidebar

            div.page-content.col-12.col-md-9
                div.dental
                    section#about.dental__about.js-anchor
                        div.block__content
                            div.block__image.wow.fadeIn
                                img(src="assets/images/content/about.jpg" alt="Зуботехническая лаборатория")
                            div.block__text
                                div.block__title Cовременная зуботехническая лаборатория в Москве
                                p.block__desc Для современных пациентов, оплачивающих стоматологические услуги, крайне важна эстетика зубов,
                                    | гарантированный результат и скорость выполнения работ. Особенно, если это иностранные граждане.

                    section#specs.dental__specs.js-anchor.t-container
                        h3 Специалисты
                        div.s-wrapper
                            div.s-title лучшие спецы
                            div.s-navigation

                        div.t-slider-wrapper
                            div.t-slider
                                div.t-slider__scene.owl-carousel
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-3.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-4.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-5.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-0.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-0.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор

                    section#services.dental__price.js-anchor
                        h3 Прайс лист зуботехнической лаборатории
                        div.s-title для стоматологов
                        include blocks/prices

                    section#photo.dental__photo.js-anchor.w-container
                        h3 Выполненые работы
                        div.s-wrapper
                            div.s-title лучшее из лучших
                            div.s-navigation

                        div.w-slider-wrapper
                            div.w-slider
                                div.w-slider__scene.owl-carousel
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(
                                                    src="assets/images/content/img-w0.jpg"
                                                    alt='Николаенко Георгий'
                                                    data-fancybox
                                                    data-src="assets/images/content/img-w0.jpg"
                                                    ).w-image-img

                                        div.w-text
                                            a(href="#").w-link
                                                div.w-name Вверхние челюсть полностью из имплантов
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/img-w1.jpg" alt='Николаенко Георгий' data-fancybox
                                                data-src="assets/images/content/img-w1.jpg").w-image-img
                                        div.w-text
                                            a(href="#").w-link
                                                div.w-name Нижняя челюсть полностью из имплантов
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/img-w2.jpg" alt='Николаенко Георгий' data-fancybox
                                                data-src="assets/images/content/img-w2.jpg").w-image-img
                                        div.w-text
                                            a(href="#").w-link
                                                div.w-name Вверхние челюсть полностью из имплантов
                                    div.w-item
                                        a(href="#").w-link
                                            div.w-image
                                                img(src="assets/images/content/img-w0.jpg" alt='Николаенко Георгий' data-fancybox
                                                data-src="assets/images/content/img-w3.jpg").w-image-img
                                        div.w-text
                                            a(href="#").w-link
                                                div.w-name Нижняя челюсть полностью из имплантов


                    section#blank.dentail__blank.js-anchor
                        h3 Для того чтобы сделать заказ нужно:
                        div.s-wrapper
                            div.s-title Скачать бланк заказа, заполните, сфотографировать и прикрепите в форму ниже.

                        div.form__container
                            div.blank__block
                                img(src="assets/images/content/blank.png" alt="Бланк заказа").blank__image
                                a(href="assets/images/content/blank.png" download target="_blank").blank__link Скачайте бланк

                            form#form-blank.form.form-blank.js-validate
                                input(type="hidden" name="uploaded_files" value="")
                                input(type="hidden" name="action" value="blank")
                                div.form__line
                                    div.form__input
                                        input(type="text" name="name" placeholder="Представьтесь").form__input-field
                                div.form__line
                                    div.form__input
                                        input(type="text" name="blank" placeholder="Прикрепить бланк заказа").form__input-field
                                    div.form__input.form__input-file
                                        div.dZUpload.dz-clickable#dZUpload
                                            div.dz-default.dz-message Выбрать файл
                                div.form__line
                                    div.form__input
                                        input(type="text" name="phone" placeholder="Телефон").form__input-field.phone
                                div.form__line
                                    div.form__input
                                        input(type="text" name="name" placeholder="E-mail").form__input-field
                                div.form__line
                                    div.form__input
                                        textarea(name="message" placeholder="Может, поясните").form__input-field
                                div.form__bottom
                                    //div.c-form__bottom-half
                                        input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
                                        label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
                                    a(type='submit' role="button").btn.form__link Отправить


block footer
    include blocks/footer


