extends layout

block vars
    - var bodyClass = '-page-home'
    - var pageClass = 'main'

block title
    title Главная

block header
    include blocks/header

block content
    div.index
        div.index__banners.wow.fadeIn
            div.container
                div.p-slider
                    div.p-slider__scene.owl-carousel
                        div.p-slider__slide.row
                            div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                            div.p-slider__right.col-12.col-lg-6
                                div.p-slider__text-wrapper
                                    div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                    a(href="#" role="button").btn Действуйте
                        div.p-slider__slide.row
                            div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                            div.p-slider__right.col-12.col-lg-6
                                div.p-slider__text-wrapper
                                    div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                    a(href="#" role="button").btn Действуйте
                        div.p-slider__slide.row
                            div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                            div.p-slider__right.col-12.col-lg-6
                                div.p-slider__text-wrapper
                                    div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                    a(href="#" role="button").btn Действуйте

                    div.p-slider__controls
                        div.p-slider__controls-inner


        div.index__blocks.wow.fadeIn
            .container
                .row
                    .col-12.col-lg-6
                        div.index__block-item.index__block-item--small1
                            a(href="frezer.html").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Фрезерный центр
                                a(href="frezer.html").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/block1.png" alt='Фрезерный центр').index__block-image-img
                        div.index__block-item.index__block-item--small2
                            a(href="dental-lab.html").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Зуботехническая лаборатория
                                a(href="dental-lab.html").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/block2.png" alt='Зуботехническая лаборатория').index__block-image-img
                    .col-12.col-lg-6.wrapper-big
                        div.index__block-item.index__block-item--big
                            a(href="stomatology.html").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Стоматология в краснодаре
                                a(href="stomatology.html").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/block3.png" alt='Стоматология в краснодаре').index__block-image-img
        div.index__special.s-container.wow.fadeIn
            .container
                h3 Спецпредложение
                div.s-wrapper
                    div.s-title акционные товары
                    div.s-navigation
                div.s-slider
                    div.s-slider__scene.owl-carousel
                        div.index__block-item
                            a(href="#").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name До 30 июня, огромные скидки на импланты зубов
                                a(href="#").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/sblock1.png" alt='Фрезерный центр').index__block-image-img
                        div.index__block-item
                            a(href="#").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Диагностическое оборудования по специальной цене
                                a(href="#").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/sblock2.png" alt='Зуботехническая лаборатория').index__block-image-img
                        div.index__block-item
                            a(href="#").index__block-link-wrapper
                            div.index__block-text
                                h2.index__block-name Стоматология в краснодаре
                                a(href="#").index__block-link Подробнее
                                    include ../images/static/arrow.svg
                            div.index__block-image
                                img(src="assets/images/content/sblock1.png" alt='Стоматология в краснодаре').index__block-image-img

                    div.p-slider__controls
                        div.p-slider__controls-inner

        div.index__about
            .container
                div.title-wrapper.wow.fadeIn
                    h3 О компании
                    div.title 12 лет на рынке
                div.index__about-block.row
                    div.index__about-image.col-12.col-lg-5.wow.fadeIn
                        img(src="assets/images/content/index_about.png" alt="О компании").index__about-image-img
                    div.index__about-content.col-12.col-lg-6.offset-lg-1.wow.fadeIn
                        p.index__about-description Толпа неустойчиво понимает тест, это обозначено Ли Россом как фундаментальная ошибка атрибуции, которая прослеживается во многих экспериментах.
                            br
                            br
                            | Чувство существенно притягивает онтогенез речи, что вызвало развитие функционализма и психологических.
                        div.index__about-text.row
                            div.index__about__t-block.col-12.col-lg-6
                                div.t__block-title Самая большая сеть офисов в ЮФО
                                div.t__block-desc обеспечивет бесперебойную логистику по Краснодарскому краю
                            div.index__about__t-block.col-12.col-lg-6
                                div.t__block-title Замкнутый цикл
                                div.t__block-desc обучение, фрезерный центр, шоу рум, доставка без привлечения транспортных компаний
        div.container
            div.index__form.row.wow.fadeIn
                div.index__form-header
                    div.index__form-title-wrapper.col-12.col-lg-4.offset-lg-1
                        div.index__form-title Нет времени собирать заказ?
                        p.index__form-desc Оставьте нам свои контакты и наши
                            br
                            | сотрудники сделают это за Вас
                    form#callback.js-validate.form.form--inline.col-12.col-lg-6.offset-lg-1.row
                        input(type="hidden" name="action" value="callback")
                        .col-12.col-sm-6
                            .form__input
                                input(type="text" name="phone" placeholder="+7(___)-___-__").form__input-field.phone
                        .col-12.col-sm-6
                            button(value="Отправить").btn Отправить
                div.index__form-ok
                    div.index__form-ok-left.col-4
                            div.index__form-ok-img
                                .col-11.offset-1
                                    include ../images/static/form-ok.svg
                    div.index__form-ok-right.col-6.offset-2
                        div.index__form-ok-title Спасибо за заявку!
                        p.index__form-ok-desc В ближайщее время с Вами
                            br
                            | свяжется менеджер

block footer
    include blocks/footer


