doctype html
html(lang="ru")

    - var bodyClass = '';
    - var pageClass = '';
        block vars

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible",content="IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        block title
            title default title

        link(rel='stylesheet', href='assets/css/styles.css')


    body(class='-loading ' + bodyClass)

        div(class='page ' + pageClass)
            block header
            div.content

                block content

            block footer
            //include blocks/popups
        if (bodyClass === '-page-contacts' || bodyClass === '-page-stomatology')
            script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript" async)
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        script(src='assets/js/scripts.min.js')
