extends layout

block vars
    - var bodyClass = '-page-stomatology'
    - var title = 'Стоматология'
    -
        var menulinks = [
            {name:'О клинике', href: 'about'},
            {name:'Специальные предложения', href: 'special'},
            {name:'Специалисты', href:'specs'},
            {name:'Услуги и цены', href:'services'},
            {name:'Запись на приём',href:'order'},
            {name:'Адрес клиники',href:'address'}
        ]

block title
    title #{title}

block header
    include blocks/header

block content
    include blocks/breadcrumb

    div.container
        div.content-block.row
            include blocks/sidebar

            div.page-content.col-12.col-md-9
                div.stomatology
                    section#about.js-anchor
                        div.block__content
                            div.block__image.wow.fadeIn
                                div.block__images-wrapper
                                    img(src="assets/images/content/img-1.png" alt="" data-fancybox
                                    data-src="assets/images/content/img-1.png")
                                    img(src="assets/images/content/img-2.png" alt="" data-fancybox
                                    data-src="assets/images/content/img-2.png")
                                    img(src="assets/images/content/img-3.png" alt="" data-fancybox
                                    data-src="assets/images/content/img-3.png")
                                    img(src="assets/images/content/img-4v.png" alt="" data-fancybox
                                    data-src="https://youtu.be/iy6mZpI2HNY" class="block__images-video")
                            div.block__text
                                div.block__title Мы создавали клинику, придя в которую, пациент сразу мог бы погрузиться в атмосферу комфорта и спокойствия.
                                p.block__desc В арсенале наших врачей самое современное оборудование, для лечения зубов применяются лучшие материалы, эффективные обезболивающие средства.

                    section#special.js-anchor.row
                        div.p-slider
                            div.p-slider__scene.owl-carousel
                                div.p-slider__slide.row
                                    div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                        img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                                    div.p-slider__right.col-12.col-lg-6
                                        div.p-slider__text-wrapper
                                            div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                            a(href="#" role="button").btn Получить скидку 10%
                                div.p-slider__slide.row
                                    div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                        img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                                    div.p-slider__right.col-12.col-lg-6
                                        div.p-slider__text-wrapper
                                            div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                            a(href="#" role="button").btn Получить скидку 10%
                                div.p-slider__slide.row
                                    div.p-slider__image.col-12.col-lg-4.offset-lg-1
                                        img(src="assets/images/content/index_banner.png" alt="Banner Image").p-slder__image-img
                                    div.p-slider__right.col-12.col-lg-6
                                        div.p-slider__text-wrapper
                                            div.p-slider__text Для современных пациентов, стоматологические услуги, крайне важна эстетика зубов.
                                            a(href="#" role="button").btn Получить скидку 10%
                            div.p-slider__controls
                                div.p-slider__controls-inner

                    section#specs.js-anchor.t-container
                        h3 Специалисты
                        div.s-wrapper
                            div.s-title лучшие спецы
                            div.s-navigation

                        div.t-slider-wrapper
                            div.t-slider
                                div.t-slider__scene.owl-carousel
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-3.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-4.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-5.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-1.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор
                                    div.t-item
                                        a(href="#").t-link
                                            div.t-image
                                                img(src="assets/images/content/img_doctor-2.jpg" alt='Николаенко Георгий').t-image-img
                                        div.t-text
                                            a(href="#").t-link
                                                div.t-name Николаенко Георгий
                                            div.t-post Директор

                    section#services.dental__price.js-anchor
                        h3 Прайс лист стоматологии
                        div.s-title для клиентов
                        include blocks/prices

                    section#order.js-anchor
                        h3 Запись на приём
                        div.s-wrapper
                            div.s-title заполните форму ниже.

                        form#form-order.form.form-order.js-validate
                            input(type="hidden" name="action" value="order")
                            div.form__line.form__line--group
                                div.form__input
                                    input(type="text" name="name" placeholder="Представьтесь").form__input-field
                                div.form__input
                                    input(type="text" name="phone" placeholder="Телефон").form__input-field.phone
                                div.form__input
                                    input(type="text" name="name" placeholder="E-mail").form__input-field
                            div.form__line
                                div.form__input
                                    textarea(name="message" placeholder="Может, поясните").form__input-field
                            div.form__bottom
                                //div.c-form__bottom-half
                                    input(type="checkbox" id='check_2' name='check_2' checked).c-form__checkbox.validate__CHECKBOX
                                    label(for="check_2").c-form__checkbox-label Согласен на обработку персональных данных
                                a(type='submit' role="button").btn.form__link Отправить

                    section#address.js-anchor
                        h3 адрес клиники
                        div.s-wrapper
                            div.s-title г. краснодар, ул.пушкина 35, офис 607


                        .contacts__map.wow.fadeIn
                            div.map#map
block footer
    include blocks/footer



