@media screen and (max-width: 1023px) {
  .footer__row {
    margin-top: 60px;
  }
  .footer__item {
    flex: 0 0 50%;
    max-width: 50%;
    &:nth-child(1), &:nth-child(2){
      margin-bottom: 15px
    }
    &:nth-child(even){
      text-align: right;
    }
  }
}
