@media screen and (max-width: 1199px){
  .header.is-scrolled {
    .h__nav-link {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 1023px){
  .header {
    &.is-scrolled .h__row {
      padding-top: 10px;
    }
  }
  .header .container {
    max-width: 100%;
  }
  .h__row {
    padding: 10px 15px 10px;
    &.is-opened {
      .h__logo-wrapper {

      }
      .h__nav-wrapper {
        visibility: visible;
        opacity: 1;
      }
      .header__burger-line {
        background-color: #fff;
      }
    }
  }
  .h__logo-wrapper {
    flex: 0 0 100px;
    max-width: 100px;
  }
  .h__nav-wrapper {
    position: fixed;
    padding: 0 15px 15px;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 70px);
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.3s, opacity 0.3s;
    transition: visibility 0.3s, opacity 0.3s;
  }

  .h__nav {
    padding: 0;
    margin: auto;
    height: 100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .h__nav-link {
    color: #000;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    display: block;
    margin-right: 0;
    margin-left: 0;
    padding: 12px 0;
    text-align: center;

  }
  .h__mail-wrapper, .h__phone-wrapper {
    display: none;
  }
  .h__phone {
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 50px;
  }
  
  .h__burger {
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    order: 4;
  }

  .h__burger-line {
    height: 2px;
    width: 25px;
    background-color: #000;
    margin-bottom: 7px;
    transition: opacity .3s, transform .3s;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .h__burger.is-active .h__burger-line:nth-child(1) {
    transform: rotate(45deg) translateY(3px) translateX(3px);
  }
  .h__burger.is-active .h__burger-line:nth-child(2) {
    transform: rotate(-45deg) translateY(-3px) translateX(4px);
  }

}

