@media screen and (max-width: 1023px){
  .form__container {
    display: block;
  }
  .blank__block {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
  }
  .blank__block img {
    margin: 0 auto 20px;
  }
  .blank__block a {
    margin-bottom: 25px;
    display: block;
    width: 100%;
    max-width: 400px;
  }
}