@media screen and (max-width: 1200px) {
  .block__text {
    margin-left: 100px;
  }
  .block__content--left .block__text {
    margin-right: 100px;
  }
  .block__title {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  .block__desc {
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) {
  .block__content {
    display: block;
  }
  .block__title {
    margin-bottom: 20px;
  }
  .block__image {
    flex-basis: auto;
    max-width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }
  .block__image > img {
    margin: 0 auto;
  }
  .block__image img {
    display: block;
  }
  .block__images-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
  }
  .block__images-wrapper img{
    flex: 0 0 140px;
    margin: 0 2% 2% 0;
    max-width: 140px;
    height: 140px;
  }
  .block__images-wrapper img:last-child {
    margin-right: 0;
  }
  .block__text {
    margin-left: 0;
  }
  .block__content--left .block__text {
    margin-right: 0;
  }
}
@media screen and (max-width: 640px) {
  .block__images-wrapper {
    max-width: 300px;
  }
  .block__images-wrapper img {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .block__images-wrapper img:nth-child(even){
    margin-right: 0;
  }
}