@media screen and (max-width: 1023px) {
  .form__line {
    margin-bottom: 0;
    flex-flow: row wrap;
  }
  .form__line--group .form__input {
    margin-right: 0;
    max-width: 100%;
    flex-basis: 100%;
  }
  .form__input {
    margin-bottom: 20px;
  }
  .form__input-field {
    padding: 10px 30px 8px 10px;
  }
}
@media screen and (max-width: 480px) {
  .form__input-file  {
    flex-grow: 0;
  }
  .form-ok {
    flex-flow: column nowrap;
  }

  .form-ok-left {
    flex: 1 1 30px;
    max-width: 100%;
    min-height: auto;
  }
  .form-ok-right {
    width: 100%;
    flex: 1 1 auto;
    max-width: 100%;
    padding: 20px;
    margin: 0;
    align-items: center;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .form__input-file  {
    flex-grow: 1;
  }
}
