@media screen and (max-width: 768px){
  .materials {
    height: auto;

  }
  .materials__wrapper {
    flex-flow: column nowrap;
    padding: 25px 10px;
  }
  .materials__left {
    flex-basis: auto;
    max-width: 100%;
    margin-bottom: 35px;
  }
  .materials__image {
    max-width: 450px;
    margin-bottom: -50px;
  }
  .materials__title {
    font-size: 20px;
    line-height: 26px;
  }
}