@media screen and (max-width: 1023px){
  .wrapper-big {
    order: -1;
  }
  .index__blocks {
    margin-top: 60px;
  }
  .index__block-item {
    height: 150px;
    padding: 25px 15px;
  }
  .index__block-item--big {
    height: 400px;
    .index__block-image-img {
      max-width: 360px;
    }
  }
  .index__block-image-img {
    max-width: 220px;
    max-height: 340px;
  }
  .index__block-name {
    font-size: 20px;
    line-height: 25px;
    max-width: 170px;
  }
  .index__special {
    margin-top: 50px;
  }
  .index__special .index__block-item {
    height: 180px;
    padding: 25px 10px;
    margin-bottom: 0;
  }
  .index__special .index__block-name{
    max-width: 210px;
  }
  .index__special .index__block-image {
    padding: 0;
  }
  .index__special .index__block-image-img {
    max-width: 130px;
    max-height: 130px;
  }
  .index__about {
    margin-top: 50px;
  }
  .index__about-image-img {
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
  }
  .index__about-image {
    height: 240px;
    justify-content: center;
  }
  .index__about-image:before {
    width: 50%;
  }
  .index__about-description {
    margin-bottom: 20px;
  }
  .index__about__t-block {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .index__form {
    margin-top: 50px;
  }
  .index__form .index__form-header {
    padding: 35px 0 25px;
  }
  .index__form button {
    margin-top: 15px;
  }
  .index__form-title {
    font-weight: 700;
  }
}