@media screen and(max-width: 1023px){
  .p-slider__slide {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
  }
  .p-slider__text-wrapper {
    padding-right: 0;
  }
  .p-slider__text {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    padding: 0 15px;
  }
  .p-slider__text-inner {
    font-size: 18px;
    line-height: 24px;
  }
  .p-slider__prices {
    justify-content: space-evenly;
    max-width: 400px;
    margin: auto;
  }
  .p-slider__price-wrapper {
    margin-right: 0;
    text-align: left;
  }
  .p-slider__price-wrapper:nth-child(1){
    margin-right: 15px;
  }
  .p-slider__image {
    padding: 5px 60px;
    margin: auto;

  }
  .p-slider__scene.owl-carousel .p-slider__image {
    flex: 0 0 200px;
    height: 200px;
  }
  .p-slider__scene.owl-carousel .p-slider__image-img  {
    height: auto;
    flex-basis: 100%;
  }
}