@media screen and (max-width: 1023px) {
  .person__container {
    flex-flow: column nowrap;
  }
  .person__left {
    margin-right: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .person__right {
    margin-top: 60px;
  }
  .person__right--main {
    margin-top: 20px;
  }
  .person__name {
    margin-bottom: 0;
  }
  .person__position {
    margin-bottom: 20px;
  }
  .person__edu {
    font-size: 16px;
    line-height: 24px;
  }
}
