@media screen and (max-width: 1023px){
  .stomatology .p-slider {
    padding: 20px 0;
  }
  .stomatology .p-slider__scene.owl-carousel .p-slider__image-img {
    height: 180px;
  }
  .stomatology .p-slider__right {
    max-width: 700px;
  }
  .stomatology .p-slider__text {
    font-size: 18px;
    line-height: 24px;
  }
  .stomatology .p-slider__controls {
    margin-top: 20px;
  }

}
